/* colorscheme */
:root {
    --primary: white;
    --secondary: #fafafa;
    --border: grey;
    --font-color: black;
    --font-inverted: white;
    --link-color: blue;
}

/* * {
    outline: 1px solid cyan;
} */
/* css reset*/
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    background-color: var(--primary);
    box-sizing: border-box;
}

html * {
    color: var(--font-color);
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* main classes */
body {
    background: var(--primary);
}

main {
    min-height: 90vh;
}

nav {
    display: flex;
    flex-flow: row-nowrap;
    justify-content: space-between;
    align-items: start;
    gap: 0.5rem;
    padding: 0.4rem;
}

.nav-group {
    display: flex;
    flex-flow: row-nowrap;
    gap: 0.5rem;
}

header {}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.4rem;
}

a {
    padding-right: 0px;
    font-family: monospace;
    text-decoration: underline solid var(--font-color) 10%;
    text-underline-offset: 3.8px;
}

a:hover {
    text-decoration: underline solid var(--link-color) 10%;
}

a:active {
    background-color: var(--link-color);
    color: var(--font-inverted);
}

li {
    white-space: nowrap;
}

#recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

#recipes article {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
}
