/* colorscheme */
:root {
    --primary: white;
    --secondary: #fafafa;
    --border: grey;
    --font-color: black;
    --font-inverted: white;
    --link-color: blue;
}

/* * {
    outline: 1px solid cyan;
} */
/* css reset*/
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    background-color: var(--primary);
    box-sizing: border-box;
}

html * {
    color: var(--font-color);
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
    word-wrap: break-word;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* main classes */
body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background: var(--primary);
    min-height: 100vh
}

nav {
    display: flex;
    flex-flow: row-nowrap;
    justify-content: space-between;
    align-items: start;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
}

.nav-group {
    display: flex;
    flex-flow: row-nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 1rem;
}

a {
    padding-right: 0px;
    font-family: monospace;
    text-decoration: underline solid var(--font-color) 10%;
    text-underline-offset: 3.8px;
}

a:hover {
    text-decoration: underline solid var(--link-color) 10%;
}

a:active {
    background-color: var(--link-color);
    color: var(--font-inverted);
}

li {
    list-style-position: inside;
}

#recipes {
    display: flex;
    flex-flow: row wrap;
    padding: 0 1rem;
    gap: 1rem;
}

#recipes article {
    min-width: 400px;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--secondary);
}

.center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#login, #register, #add-recipe {
    max-width: 500px;
    max-height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
}

#addrecipe-form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

#addrecipe-form div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
