<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>ReciPy - {{ title }}</title>
    {% else %}
        <title>ReciPy</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">ReciPy</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('Login.home') }}">Home</a>
              <!-- Dropdown top right -->
              {% if current_user.is_authenticated %}
                <li class="dropdown">
                 <a href="#" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown">ReciPy<b class="caret"></b></a>
                 <ul class="dropdown-menu">
                    <li><a class="nav-item nav-link" href="{{ url_for('Login.account') }}">Account</a></li>
                    <li><a class="nav-item nav-link" href="{{ url_for('User.favorites') }}">Favorites</a></li>
                    <li class="divider"></li>
                    <li><a class="nav-item nav-link" href="https://www.pgadmin.org">site pgAdmin</a></li>
                    <li><a class="nav-item nav-link" href="http://127.0.0.1:58653/browser/ ">pgAdmin4</a></li>
                 </ul>
               </li>
              {% else %}
              {% endif %}
              <a class="nav-item nav-link" href="{{ url_for('Login.about') }}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('Login.account') }}">Account</a>
			          {% if "customer" == role %}
                <a class="nav-item nav-link" href="{{ url_for('Customer.transfer') }}">Transfer</a>
                <a class="nav-item nav-link" href="{{ url_for('Customer.invest') }}">Investments</a>
 			          {% endif %}
		            {% if role == 'employee' %}
                <a class="nav-item nav-link" href="{{ url_for('Employee.addcustomer') }}">Add customer</a>
                <a class="nav-item nav-link" href="{{ url_for('Employee.investe') }}">Investments</a>
 			          {% endif %}

                <a class="nav-item nav-link" href="{{ url_for('Login.logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('Login.login') }}">Login</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <!-- Right Side box-->
        <div class="col-md-4">
          <div class="content-section">
            <h3>Account</h3>
              <ul class="list-group">
              {% if current_user.is_authenticated %}

			   {% if "customer" == role %}
			        <p>UIS Prototype-customer</p>
                <li class="list-group-item list-group-item-light">Accounts</li>
                <li class="list-group-item list-group-item-light"><a class="nav-item nav-link" href="{{ url_for('Customer.transfer') }}">Transfer</a></li>
                <li class="list-group-item list-group-item-light">Checking Accounts</li>
                <li class="list-group-item list-group-item-light">Investment Accounts</li>
                <li class="list-group-item list-group-item-light"><a class="nav-item nav-link" href="{{ url_for('Customer.invest') }}">View investment accounts</a></li>
 			   {% endif %}


			      {% if role == 'employee' %}
			        <p>UIS Prototype-emp</p>
                <li class="list-group-item list-group-item-light">Accounts</li>
                <li class="list-group-item list-group-item-light">Transfer</li>
                <li class="list-group-item list-group-item-light">Checking Accounts</li>
                <li class="list-group-item list-group-item-light">Investment Accounts</li>
                <li class="list-group-item list-group-item-light"><a class="nav-item nav-link" href="{{ url_for('Employee.investe') }}">View investment accounts</a></li>
 			      {% endif %}


               <li class="list-group-item list-group-item-light">etc</li>

              {% else %}
                <li class="list-group-item list-group-item-light">etc</li>
              {% endif %}
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
</body>
</html>
