{% extends "base.html" %} {% block content %}
<nav>
    <div class="nav-group">
        <h3><a href="/register">Register</a></h3>
    </div>
    <div class="nav-group">
        <h1><a href="/">ReciPy</a></h1>
    </div>
    <div class="nav-group">
        <h3><a href="/addrecipe">Add recipe</a></h3>
    </div>
</nav>
<main class="center">
    <div id="login">
        <h3>Login user</h3>
        <form id="#login-form" action="login" method="POST">
            <label for="username">Username:</label>
            <input id="username" name="username" type="text" placeholder="username" />
            <br />
            <label for="username">Password:&nbsp;</label>
            <input id="password" name="password" type="password" placeholder="password" />
            <br />
            <input id="submit" type="submit" />
        </form>
    </div>
</main>
{% endblock %}
