{% extends "base.html" %} {% block content %}
<nav>
    <div class="nav-group">
        {% if user.id is defined %}
        <h3 style="font-family: monospace">Logged in as: {{ user.id }}</h3>
        <h3><a href="/logout">Logout</a></h3>
        {% else %}
        <h3><a href="/login">Login</a></h3>
        <h3><a href="/register">Register</a></h3>
        {% endif %}
    </div>
    <div class="nav-group">
        <h1><a href="/">ReciPy - One Byte at a Time!🍌</a></h1>
    </div>
    <div class="nav-group">
        <h3><a href="/addrecipe">Add recipe (requires login)</a></h3>
    </div>
</nav>
<main>
    <div id="recipes">
        <!-- recipe rendering -->
        <article class="recipe">
            <div>
                <h4>{{ recipe.name }}</h4>
                <h5>{{ recipe.category }}, {{ recipe.cuisine }} cuisine</h5>
                <h5>Created by: {{ recipe.created_by_username }} on {{ recipe.pretty_date() }}</h5>

            </div>

            <div>
                <b>Ingredients:</b>
                <ul>
                    {% for ingredient in recipe.ingredient_list() %}
                    <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <b>Description:</b>
                <p>{{ recipe.description }}</p>
            </div>
            <div>
                <b>Method:</b>
                <ol>
                    {% for step in recipe.method_list() %}
                    <li>{{ step }}</li>
                    {% endfor %}
                </ol>
            </div>
            <div>
                <h5>
                    <form action="/deleterecipe" method="POST">
                        <button type="submit" name="id" value="{{ recipe.rid }}"">Delete recipe</button>
                    </form>
                </h5>
            </div>
        </article>
        
    </div>
</main>
<footer></footer>
{% endblock %}
